.subtitle-a {
    letter-spacing: 2px;
	font-size: clamp(1.2rem, 1vw, 1.35rem);
	color: var(--accent-clr);
}
.about-me {
	margin-block-start: var(--section-mt);
	background: var(--secondary-clr);
	padding: var(--section-mt) 1rem;
}

.about-me .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-items: center;
	gap: 3rem;
	position: relative;
	
}

/* #image { 
	background-image: url("../../../assets/image/Yosf.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}*/



.about-me img { 
	align-self: end;
	justify-self: end;
	height: 52rem;
	/* filter: brightness(0.8); */
}

.about {
	padding-block-start: 1.25rem;
}

.about p {
	padding-block-start: 2rem;
	line-height: 1.8;
}
