<section class="about-me" id="about">
    <div class="container" data-aos="fade-up">
        <img src=".\assets\image\Yosf.png" alt=".\assets\image\Yo2.jpg" />
        <article>
            <p class="subtitle-a">Quien es NanoDev? 🤔</p>
            <h2 class="title">Un poco sobre mi: </h2>
            <div class="about">
                <p>
                    Desde chico, quedé atrapado por el intrigante mundo de la 
                    programación y las computadoras. Con el correr del tiempo, me fui 
                    adentrando cada vez más en este apasionante terreno, perfeccionando 
                    mis habilidades a través de diversos cursos y videos. 
                    Experimenté de primera mano cómo funciona todo este universo y cómo 
                    podría desarrollar mi propia aplicación.
                </p>
                <p>
                    
                    En la actualidad, me encuentro cursando la Tecnicatura Universitaria 
                    en Programación en la UTN. Mi trayectoria como scout ha sido fundamental 
                    para mi desarrollo, pues me ha permitido cultivar habilidades en el trabajo 
                    colaborativo y la concepción de proyectos. 💪🏻

                </p>
                <p>
                    En mi pasatiempo, disfruto explorando nuevos proyectos que contribuyan al 
                    perfeccionamiento de mis habilidades en programación. Esta dedicación constante 
                    me impulsa a un crecimiento continuo, con el objetivo de garantizar una eficaz 
                    implementación en futuros trabajos. 😄
                </p>
            </div>
        </article>
    </div>
</section>
