<section class="projects-section" id="projects">
    <div class="container">
      <article data-aos="fade-up">
        <p class="subtitle">Mis proyectos</p>
        <h2 class="title">Proyectos en los que he trabajado</h2>
        <p class="info">
          Me gusta estar ocupado trabajando en varios proyectos e ideando
          nuevos. Aqui puedes ver algunos!
        </p>

        <!-- COMIENZO DE PROYECTOS -->

      </article>
      <section class="projects">
        <article class="project">
          <a
            href=#
            target="_blank"
            rel="noreferrer"
            class="project-img"
            ><img
              src="../../../assets/image/giphy.gif"
              alt="Coming-Soon"
              title="titulo"
          /></a>
          <div>
            <h3>01</h3>
            <h2>Discord Bot</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="tech-stack">
              <li>Coming-soon</li>
              <li>Coming-soon</li>
            </ul>
            <ul class="project-links">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Live Site →</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Github →</a
                >
              </li>
            </ul>
          </div>
        </article>

        <!-- Programa 2 -->

        <article class="project">

          <a
            href=#
            target="_blank"
            rel="noreferrer"
            class="project-img"
          > 
            <img
              src="../../../assets/image/giphy.gif"
              alt="Coming-Soon"
              title="titulo"
            />  

          </a>
          <div>
            <h3>02</h3>
            <h2>InventPlus </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="tech-stack">
              <li>Coming-soon</li>
              <li>Coming-soon</li>
            </ul>
            <ul class="project-links">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Live Site →</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >
                  Github →
                </a>
              </li>
            </ul>
          </div>
        </article>

        <!-- Programa 3-->
        <article class="project">
          
          <a
            href=#
            target="_blank"
            rel="noreferrer"
            class="project-img"
          >
            <img
              src="../../../assets/image/giphy.gif"
              alt="Coming-Soon"
              title="titulo"
            />
          </a>
          
          <div>
            <h3>03</h3>
            <h2>Programa C</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="tech-stack">
              <li>Coming-soon</li>
              <li>Coming-soon</li>
            </ul>
            <ul class="project-links">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect">
                  Live Site →
                </a>
              </li>

              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect">
                  Github →
                </a>
              </li>
            </ul>
          </div>
        </article>

        <!-- Programa 4-->

        <article class="project">
          
          <a
            href=#
            target="_blank"
            rel="noreferrer"
            class="project-img"
          >
            <img
              src="../../../assets/image/giphy.gif"
              alt="Coming-Soon"
              title="titulo"
            />
          </a>
          <div>
            <h3>04</h3>
            <h2>Programa D</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="tech-stack">
              <li>Coming-soon</li>
              <li>Coming-soon</li>
            </ul>
            <ul class="project-links">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Live Site →</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Github →</a
                >
              </li>
            </ul>
          </div>

          <!-- Programa 5 -->

        </article>
        <article class="project">
          <a
            href=#
            target="_blank"
            rel="noreferrer"
            class="project-img"
          >
            <img
              src="../../../assets/image/giphy.gif"
              alt="Coming-Soon"
              title="titulo"
            />
          </a>
          <div>
            <h3>05</h3>
            <h2>Programa E</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <ul class="tech-stack">
              <li>Coming-soon</li>
              <li>Coming-soon</li>
            </ul>
            <ul class="project-links">
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Live Site →</a
                >
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noreferrer"
                  class="hover-effect"
                  >Github →</a
                >
              </li>
            </ul>
          </div>
        </article>
      </section>
    </div>
  </section>

