
<body>
  <!-- only for keyboard users -->
  <a class="skip-to-content" href="#main-content">Skip to content</a>

    
  <app-header></app-header>

  <main id="main-content">
    <!-- hero section -->
    <app-intro></app-intro>

    <!-- about section -->
    <app-about></app-about>

    <!-- my skills -->
    <app-skills></app-skills>

    <!-- projects section -->
    <app-projects> </app-projects>
    <!-- contact section -->
    <section class="contact" data-aos="fade-up">
      <div class="container">
        <p class="subtitle">¿Estás con un proyecto en mente? 🚀</p>
        <h2 class="title">Trabajemos juntos!</h2>
        <p class="info">
          No dudes en ponerte en contacto conmigo. ¡Seguro que juntos armamos algo genial! ¡Hablamos pronto! 👍
        </p>
        <div>
          <a href="mailto:nanodev.cont@outlook.com" class="mail-link hover-effect"
            >Estemos en contacto! →</a
          >
        </div>
      </div>
    </section>
  </main>
 
  <!-- footer -->
  <footer class="footer" id="contact">
    <div class="container">
      <p>&copy; <span id="date"></span> Valentin Ugarte</p>
      <div>
        <ul>
          <li>
            <a
              href="https://github.com/Nanodev01"
              rel="noreferrer"
              target="_blank"
              class="hover-effect"
              >github</a
            >
          </li>
          <li>
            <a
              href="https://twitter.com/"
              rel="noreferrer"
              target="_blank"
              class="hover-effect"
              >twitter</a
            >
          </li>
        </ul>
        <a href="#top" class="top">
          <p class="scroll">Subir <span>arriba</span></p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor">
            <title>Subir arriba</title>
            <path
              d="m6.293 11.293 1.414 1.414L12 8.414l4.293 4.293 1.414-1.414L12 5.586z"></path>
            <path
              d="m6.293 16.293 1.414 1.414L12 13.414l4.293 4.293 1.414-1.414L12 10.586z"></path>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</body>