<section class="my-skills" id="skills" data-aos="fade-up">
    <div class="container">
        <article>
            <p class="subtitle">Mis habilidades </p>
            <h2 class="title">Alguno de los lenguajes que aprendi: </h2>

            <p class="info">
                he estado haciendo cursos online ultimamente y estos son unos de los
                lenguajes con los que he trabajando:
            </p>
        </article>
        <ul>
            <li>HTML & CSS</li>
            <li>Javascript (ES6+)</li>
            <li>Typescript</li>
            <li>Angular</li>
            <li>Git</li>
            <li>C#</li>
            <li>python</li>
        </ul>
    </div>
</section>
