<section class="hero">
    <div class="container">
      <article class="hero-text bounce-in-left">
        <div>
          <p class="subtitle">Hola mundo 👋🏽, soy</p>
          <h1 class="name">Valentin</h1>
        </div>
        <div>
          <p class="intro">
            Joven argentino 🧉, apasionado por la programación y la informática. 
            
          </p>
          <p class="intro">Scout y eterno aventurero.</p>

          <div class="hero-btn-container">
            <a href="mailto:nanodev.cont@outlook.com" class="btn hire-btn">
              Contactame!
            </a>
            <!-- <a href="#" download="" class="btn download-link"
              >Download CV</a
            > -->
          </div>
        </div>
      </article>
      <img
        src="./assets/image/coding-ground.png"
        alt="coding desk"
        class="fade-in code" />
    </div>
  </section>
